@model Category
@{
    ViewData["Title"] = "Borrar cateogria";
}

<h3 class="mb-3">¿Esta seguro que desae borrar la cateogria @Model.Name?</h3>

<form asp-action="DeleteCateogry">
    <input type = "hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

</form>